* {
    margin: 0;
    padding: 0;
}

body {
    padding: 12px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 12px;
    background-color: #171717;
    font-family: 'Roboto', sans-serif;

}

section {
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-basis: calc(100% / 3 - 34px);
    height: 250px;
    padding: 12px;
    background-color: #171717;
    border: 1px solid #e7e7e7;
}


/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
    section {
        flex-basis: calc(100% / 2 - 34px);
    }
}


/* Button #1 */

#one button {
    font-family: inherit;
    font-size: 20px;
    background: royalblue;
    color: white;
    padding: 0.7em 1em;
    padding-left: 0.9em;
    display: flex;
    align-items: center;
    border: none;
    border-radius: 16px;
    overflow: hidden;
    transition: all 0.2s;
    cursor: pointer;
}

#one button span {
    display: block;
    margin-left: 0.3em;
    transition: all 0.3s ease-in-out;
}

#one button svg {
    display: block;
    transform-origin: center center;
    transition: transform 0.3s ease-in-out;
}

#one button:hover .svg-wrapper {
    animation: fly-1 0.6s ease-in-out infinite alternate;
}

#one button:hover svg {
    transform: translateX(1.2em) rotate(45deg) scale(1.1);
}

#one button:hover span {
    transform: translateX(5em);
}

#one button:active {
    transform: scale(0.95);
}

@keyframes fly-1 {
    from {
        transform: translateY(0.1em);
    }

    to {
        transform: translateY(-0.1em);
    }
}





/* Button #2 */

#two button {
    padding: 0.8em 1.8em;
    border: 2px solid #17C3B2;
    position: relative;
    overflow: hidden;
    background-color: transparent;
    text-align: center;
    text-transform: uppercase;
    font-size: 16px;
    transition: .3s;
    z-index: 1;
    font-family: inherit;
    color: #17C3B2;
    cursor: pointer;
}

#two button::before {
    content: '';
    width: 0;
    height: 300%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    background: #17C3B2;
    transition: .5s ease;
    display: block;
    z-index: -1;
}

#two button:hover::before {
    width: 105%;
}

#two button:hover {
    color: #111;
}




/* Button #3 */

#three .btn-cssbuttons {
    --btn-color: #275efe;
    position: relative;
    padding: 16px 32px;
    font-family: Roboto, sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1;
    color: white;
    background: none;
    border: none;
    outline: none;
    overflow: hidden;
    cursor: pointer;
    filter: drop-shadow(0 2px 8px rgba(39, 94, 254, 0.32));
    transition: 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
}

#three .btn-cssbuttons::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background: var(--btn-color);
    border-radius: 24px;
    transition: 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
}

#three .btn-cssbuttons span,
#three .btn-cssbuttons span span {
    display: inline-flex;
    vertical-align: middle;
    transition: 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
}

#three .btn-cssbuttons span {
    transition-delay: 0.05s;
}

#three .btn-cssbuttons span:first-child {
    padding-right: 7px;
}

#three .btn-cssbuttons span span {
    margin-left: 8px;
    transition-delay: 0.1s;
}

#three .btn-cssbuttons ul {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    display: flex;
    margin: 0;
    padding: 0;
    list-style-type: none;
    transform: translateY(-50%);
}

#three .btn-cssbuttons ul li {
    flex: 1;
}

#three .btn-cssbuttons ul li a {
    display: inline-flex;
    vertical-align: middle;
    transform: translateY(55px);
    transition: 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
}

#three .btn-cssbuttons ul li a:hover {
    opacity: 0.5;
}

#three .btn-cssbuttons:hover::before {
    transform: scale(1.2);
}

#three .btn-cssbuttons:hover span,
#three .btn-cssbuttons:hover span span {
    transform: translateY(-55px);
}

#three .btn-cssbuttons:hover ul li a {
    transform: translateY(0);
}

#three .btn-cssbuttons:hover ul li:nth-child(1) a {
    transition-delay: 0.15s;
}

#three .btn-cssbuttons:hover ul li:nth-child(2) a {
    transition-delay: 0.2s;
}

#three .btn-cssbuttons:hover ul li:nth-child(3) a {
    transition-delay: 0.25s;
}



/* Button #4 */

#four .button {
    display: flex;
}

#four .box {
    width: 35px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    font-weight: 700;
    color: #fff;
    transition: all .8s;
    cursor: pointer;
    position: relative;
    background: rgb(58, 165, 253);
    overflow: hidden;
}

#four .box:before {
    content: "W";
    position: absolute;
    top: 0;
    background: #0f0f0f;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(100%);
    transition: transform .4s;
}

#four .box:nth-child(2)::before {
    transform: translateY(-100%);
    content: 'O';
}

#four .box:nth-child(3)::before {
    content: 'R';
}

#four .box:nth-child(4)::before {
    transform: translateY(-100%);
    content: 'L';
}

#four .box:nth-child(5)::before {
    content: 'D';
}

#four .button:hover .box:before {
    transform: translateY(0);
}




/* Button #5 */

#five .c-button {
    color: #000;
    font-weight: 700;
    font-size: 16px;
    text-decoration: none;
    padding: 0.9em 1.6em;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    z-index: 1;
}

#five .c-button--gooey {
    color: #06c8d9;
    text-transform: uppercase;
    letter-spacing: 2px;
    border: 4px solid #06c8d9;
    border-radius: 0;
    position: relative;
    transition: all 700ms ease;
}

#five .c-button--gooey .c-button__blobs {
    height: 100%;
    filter: url(#goo);
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    bottom: -3px;
    right: -1px;
    z-index: -1;
}

#five .c-button--gooey .c-button__blobs div {
    background-color: #06c8d9;
    width: 34%;
    height: 100%;
    border-radius: 100%;
    position: absolute;
    transform: scale(1.4) translateY(125%) translateZ(0);
    transition: all 700ms ease;
}

#five .c-button--gooey .c-button__blobs div:nth-child(1) {
    left: -5%;
}

#five .c-button--gooey .c-button__blobs div:nth-child(2) {
    left: 30%;
    transition-delay: 60ms;
}

#five .c-button--gooey .c-button__blobs div:nth-child(3) {
    left: 66%;
    transition-delay: 25ms;
}

#five .c-button--gooey:hover {
    color: #fff;
}

#five .c-button--gooey:hover .c-button__blobs div {
    transform: scale(1.4) translateY(0) translateZ(0);
}





/* Button #6 */

#six .scene {
    width: 10em;
    justify-content: center;
    align-items: center;
}

#six .cube {
    color: #ccc;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    transition: all 0.85s cubic-bezier(.17, .67, .14, .93);
    transform-style: preserve-3d;
    transform-origin: 100% 50%;
    width: 10em;
    height: 4em;
}

#six .cube:hover {
    transform: rotateX(-90deg);
}

#six .side {
    box-sizing: border-box;
    position: absolute;
    display: inline-block;
    height: 4em;
    width: 10em;
    text-align: center;
    text-transform: uppercase;
    padding-top: 1.5em;
    font-weight: bold;
}

#six .top {
    background: wheat;
    color: #222229;
    transform: rotateX(90deg) translate3d(0, 0, 2em);
    box-shadow: inset 0 0 0 5px #fff;
}

#six .front {
    background: #222229;
    color: #fff;
    box-shadow: inset 0 0 0 5px #fff;
    transform: translate3d(0, 0, 2em);
}




/* Button #7 */

#seven button {
    position: relative;
    display: inline-block;
    margin: 15px;
    padding: 15px 30px;
    text-align: center;
    font-size: 18px;
    letter-spacing: 1px;
    text-decoration: none;
    color: #725AC1;
    background: transparent;
    cursor: pointer;
    transition: ease-out 0.5s;
    border: 2px solid #725AC1;
    border-radius: 10px;
    box-shadow: inset 0 0 0 0 #725AC1;
}

#seven button:hover {
    color: white;
    box-shadow: inset 0 -100px 0 0 #725AC1;
}

#seven button:active {
    transform: scale(0.9);
}





/* Button #8 */

#eight .cssbuttons-io {
    position: relative;
    font-family: inherit;
    font-weight: 500;
    font-size: 18px;
    letter-spacing: 0.05em;
    border-radius: 0.8em;
    border: none;
    background: linear-gradient(to right, #8e2de2, #4a00e0);
    color: ghostwhite;
    overflow: hidden;
    cursor: pointer;
}

#eight .cssbuttons-io svg {
    width: 1.2em;
    height: 1.2em;
    margin-right: 0.5em;
}

#eight .cssbuttons-io span {
    position: relative;
    z-index: 10;
    transition: color 0.4s;
    display: inline-flex;
    align-items: center;
    padding: 0.8em 1.2em 0.8em 1.05em;
}

#eight .cssbuttons-io::before,
#eight .cssbuttons-io::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

#eight .cssbuttons-io::before {
    content: "";
    background: #000;
    width: 120%;
    left: -10%;
    transform: skew(30deg);
    transition: transform 0.4s cubic-bezier(0.3, 1, 0.8, 1);
}

#eight .cssbuttons-io:hover::before {
    transform: translate3d(100%, 0, 0);
}

#eight .cssbuttons-io:active {
    transform: scale(0.95);
}


/* Button #9 */

#nine button {
    outline: 0;
    border: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 140px;
    height: 50px;
    border-radius: 0.5em;
    box-shadow: 0 0.625em 1em 0 rgba(30, 143, 255, 0.35);
    overflow: hidden;
    cursor: pointer;
}

#nine button div {
    transform: translateY(0px);
    width: 100%;
}

#nine button,
#nine button div {
    transition: 0.6s cubic-bezier(.16, 1, .3, 1);
}

#nine button div span {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    padding: 0 1.125em;
}

#nine button div:nth-child(1) {
    background-color: #1e90ff;
}

#nine button div:nth-child(2) {
    background-color: #21dc62;
}

#nine button:hover {
    box-shadow: 0 0.625em 1em 0 rgba(33, 220, 98, 0.35);
}

#nine button:hover div {
    transform: translateY(-50px);
}

#nine button p {
    font-size: 17px;
    font-weight: bold;
    color: #ffffff;
}

#nine button:active {
    transform: scale(0.95);
}





/* Button #10 */

#ten button {
    --border-radius: 15px;
    --border-width: 4px;
    appearance: none;
    position: relative;
    padding: 1em 2em;
    border: 0;
    background-color: #171717;
    font-family: "Roboto", Arial, "Segoe UI", sans-serif;
    font-size: 18px;
    font-weight: 500;
    color: #fff;
    z-index: 2;
    cursor: pointer;
    border-radius: 20px;
}

#ten button::after {
    --m-i: linear-gradient(#000, #000);
    --m-o: content-box, padding-box;
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    padding: var(--border-width);
    border-radius: var(--border-radius);
    background-image: conic-gradient(#488cfb,
            #29dbbc,
            #ddf505,
            #ff9f0e,
            #e440bb,
            #655adc,
            #488cfb);
    -webkit-mask-image: var(--m-i), var(--m-i);
    mask-image: var(--m-i), var(--m-i);
    -webkit-mask-origin: var(--m-o);
    mask-origin: var(--m-o);
    -webkit-mask-clip: var(--m-o);
    mask-composite: exclude;
    -webkit-mask-composite: destination-out;
    filter: hue-rotate(0);
    animation: rotate-hue linear 500ms infinite;
    animation-play-state: paused;
}

#ten button:hover::after {
    animation-play-state: running;
}

@keyframes rotate-hue {
    to {
        filter: hue-rotate(1turn);
    }
}

#ten button,
#ten button::after {
    box-sizing: border-box;
}

#ten button:active {
    --border-width: 5px;
}